//BLOCKPHOTOS
.blockPhoto__content {
  max-width: 350px;
  &__linkImg {
    &__blockImg {
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      height: 300px;
      &__img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__legend {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $colorPrimary;
    padding: 10px 0;
  }
}
//____________________________
//INDEX et PAGES -Block introduction des photographes
.blockIntro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $colorOrange;
  &::after {
    content: attr(data-photographer);
    text-align: center;
    font-size: $fontPhotographerName;
    padding-top: 20px;
  }
  &--pages {
    flex-direction: column;
    align-items: flex-start;
    background-color: $colorOrangeLighter;
    padding: 60px 0px 40px 40px;
    &::after {
      content: "";
      display: none;
    }
  }
  &__titlePages {
    font-size: 4rem;
  }
  &__link {
    &__blockImg {
      position: relative;
      overflow: hidden;
      width: 199px;
      height: 199px;
      border-radius: 50%;
      &__img {
        width: 120%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__blocktxt {
    //les blocks txt
    @include blockTxtIntroIndex($blockTxtIntroduction);
  }
  &__links {
    //les liens #tags
    display: flex;
    justify-content: center;
    //max-width: 263px;
    flex-wrap: wrap;
    &--pages {
      justify-content: flex-start;
      margin: 0px 3px;
    }
  }
  &__btn {
    align-self: center;
    position: absolute;
    top: 60px;
  }
}
