//BLOCKPHOTOS
.blockPhoto__content {
  max-width: 350px;
  &__linkImg {
    &__blockImg {
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      height: 300px;
      &__img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__legend {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: $colorPrimary;
    padding: 10px 0;
  }
}
//____________________________
//INDEX-Block introduction des photographes-le titre h2-
.BlockIntroIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $colorPrimary;
  &::after {
    content: attr(data-photographer);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
  }
  &__link {
    &__blockImg {
      position: relative;
      overflow: hidden;
      width: 199px;
      height: 199px;
      border-radius: 50%;
      &__img {
        width: 120%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__blocktxt {
    //les blocks txt
    @include blockTxtIntroIndex($blockTxtIntroduction);
  }
}
