//______________________
//Likes
//______________________
.heart {
  display: block;
  &__nbs {
    font-size: 1.5rem;
    margin-right: 5px;
  }
  &__img {
    height: 18.35px;
    position: relative;
    top: 0.5px;
  }
}
//______________________
//closebtn (the X)
//______________________
.iconeX {
  @include iconeClose-block;
  transition: 0.3s;
  &::after {
    @include iconeClose-line;
    transform: rotateZ(45deg);
  }
  &::before {
    @include iconeClose-line;
    transform: rotateZ(-45deg);
  }
}
