//LE FORMULAIRE
//______________________________________
.modalBgd{
    display: block;
    padding: 62px 0;
    transition: 0.3s;
    .modalBody{
        margin:5% auto;
        background-color:$colorSecondary;
        max-width:669px;
        position: relative;
        border-radius:5px;
        &__blockTitle{
            display: flex;
            justify-content: space-between;
            padding: 15px 35px;
            &__Title{
                font-size: 3.6rem;
                &::after{
                    content:attr(data-photographer);
                    display: block;
                }
            }
            &__icone{
                @include iconeClose-block;
            }
            &__icone::after{
                @include iconeClose-line;
                transform: rotateZ(45deg);
                
            }
            &__icone::before{
                @include iconeClose-line;
                transform: rotateZ(-45deg);
            }
        }
        &__form{
            padding: 0 35px 35px 35px;
        }
        &__block{
            font-size: 2.25rem;
            position: relative;
            &[data-error]::before{
                content:attr(data-error);
                color:#bb1212;
                display: block;
                position: absolute;
                right: 5px;
                top:20px;
                font-size: 1rem;
                font-weight: bolder;
                opacity:0;
                transition: 0.3s;
            }
            &[data-error-visible="true"]::before{
                opacity:1;
            }
            &[data-error-visible="true"] .modalBody__inputsTxt{
                border:#bb1212 solid 3px;
            }
        }
        &__inputsTxt{
            @include inputsTxt-appearance;
            &--changeHeight{
                height:170px;
                padding-top: 0.5rem;
            }
        }
    }
}
//______________________________________


    



