//LE FORMULAIRE
//______________________________________
.modal {
  @include modal-appearance;
  display: none;
  .modalContent {
    margin: 77px auto;
    max-width: 669px;
    animation: animModal 0.9s ease-in-out;
    animation-fill-mode: both;
    &__body {
      background-color: $colorSecondary;
      border-radius: $radiusBlocks;
      &__blockTitle {
        display: flex;
        justify-content: space-between;
        padding: 15px 35px;
        &__Title {
          font-size: 3.6rem;
          &::after {
            content: attr(data-photographer);
            display: block;
          }
        }
      }
      &__form {
        padding: 0 35px 35px 35px;
      }
      &__block {
        font-size: 2.25rem;
        position: relative;
        &[data-error]::before {
          content: attr(data-error);
          color: #bb1212;
          display: block;
          position: absolute;
          right: 5px;
          top: 20px;
          font-size: 1rem;
          font-weight: bolder;
          opacity: 0;
          transition: 0.3s;
        }
        &[data-error-visible="true"]::before {
          opacity: 1;
        }
        &[data-error-visible="true"] .modalBody__inputsTxt {
          border: #bb1212 solid 3px;
        }
      }
      &__inputsTxt {
        @include inputsTxt-appearance;
        &--changeHeight {
          height: 170px;
          padding-top: 0.5rem;
          resize: none; // pour empécher l'utilisation de changer la taille du block
        }
      }
    }
  }
}

//______________________________________
//ZOOM SUR LES IMAGES
//______________________________________
.modalPhotographies {
  @include modal-appearance;
  &--change {
    background: rgba(255, 255, 255, 0.9);
  }
  &__content {
    margin: 99px auto;
    max-width: 1253px;
    animation: animModal 0.9s ease-in-out;
    animation-fill-mode: both;
    &__body {
      border-radius: $radiusBlocks;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      &__iconeX {
        align-self: flex-start;
        margin: 37px 0 0 0;
        position: relative;
        right: 31px;
        cursor: pointer;
        border: none;
        background: transparent;
      }
      &__iconeToSwitch {
        margin: 0 32px 0 32px;
        cursor: pointer;
        &--change {
          transform: rotate(180deg);
          margin: 0 0 0 32px;
        }
      }
      &__blockPhoto {
        width: 100%;
        margin: 22px 0 0 0;
      }
      &__photo {
        width: 100%;
      }
      &__legend {
        font-size: 1.5rem;
        color: $colorPrimary;
        margin: 19px 0 0 0;
      }
    }
  }
}
