//LE FORMULAIRE
//______________________________________
.modal {
  @include modal-appearance;
  display: none;
  @include media-between(phone, tablet) {
    background-color: $colorOrangePaler;
  }
  .modalContent {
    margin: 77px auto;
    max-width: 669px;
    animation: animModal 0.9s ease-in-out;
    animation-fill-mode: both;
    @include media-between(phone, tablet) {
      margin: inherit;
      height: 100%;
      max-width: inherit;
    }
    &__body {
      background-color: $colorSecondary;
      border-radius: $radiusBlocks;
      @include media-between(phone, tablet) {
        border-radius: inherit;
        height: 100%;
      }
      &__blockTitle {
        display: flex;
        justify-content: space-between;
        padding: 15px 35px;
        @include media-between(phone, tablet) {
          padding: 25px 15px;
        }
        &__Title {
          font-size: 3.6rem;
          @include media-between(phone, tablet) {
            font-size: 2.25rem;
          }
          &::after {
            content: attr(data-photographer);
            display: block;
          }
        }
      }
      &__form {
        padding: 0 35px 35px 35px;
        @include media-between(phone, tablet) {
          padding: 0 15px 0 15px;
        }
      }
      &__block {
        font-size: 2.25rem;
        position: relative;
        display: grid;
        @include media-between(phone, tablet) {
          font-size: 1.5rem;
          margin: 25px 0 25px 0;
        }
        &[data-error]::before {
          content: attr(data-error);
          color: #ffffff;
          display: block;
          position: absolute;
          right: 0px;
          top: 20px;
          font-size: 0.8rem;
          opacity: 0;
          transition: 0.3s;
          border: #f01717 solid 2px;
          padding: 1px 7px;
          border-radius: 5px;
          @include media-between(phone, tablet) {
            top: 9px;
            text-align: end;
            font-size: 0.53rem;
            padding: 2px 3px 0 3px;
            border: 1px solid #f01717;
          }
        }
        &[data-error-visible="true"]::before {
          opacity: 1;
        }
        &[data-error-visible="true"] .modalContent__body__inputsTxt {
          border: #f01717 solid 2px;
        }
      }
      &__inputsTxt {
        @include inputsTxt-appearance;
        @include media-between(phone, tablet) {
          height: 52px;
          font-size: 1rem;
        }
        &:focus {
          border: $black 2px solid;
        }
        &:valid {
          border: rgb(28, 151, 84) 2px solid;
        }
        &--changeHeight {
          height: 170px;
          padding-top: 0.5rem;
          resize: none; // pour empécher l'utilisation de changer la taille du block
          font-size: 1.2rem;
          margin-bottom: 15px;
          @include media-between(phone, tablet) {
            font-size: 1rem;
            height: 184px;
          }
        }
      }
      &__BlockBTnSub {
        @include media-between(phone, tablet) {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
        }
      }
    }
  }
}

//______________________________________
//ZOOM SUR LES IMAGES
//______________________________________
.modalPhotographies {
  @include modal-appearance;
  &--change {
    background: rgba(255, 255, 255, 0.9);
    display: none;
  }
  &__content {
    margin: 99px auto;
    max-width: 1253px;
    animation: animModal 0.9s ease-in-out;
    animation-fill-mode: both;
    @include media-between(tablet, desktop) {
      margin: 200px auto;
    }
    @include media-min(wideScreenXL) {
      max-width: 1600px;
    }
    &__body {
      border-radius: $radiusBlocks;
      display: flex;
      align-items: center;
      justify-content: center;
      &__bgd {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
      }
      &__BlockIconeX {
        position: absolute;
        right: 30px;
        top: 0;
        @include media-between(phone, tablet) {
          right: 18px;
        }
        @include media-between(tablet, desktop) {
          right: 23px;
        }
        &__iconeX {
          align-self: flex-start;
          margin: 37px 0 0 0;
          cursor: pointer;
          border: none;
          background: transparent;
          @include media-between(phone, tablet) {
            margin: 30px 0 0 0;
          }
        }
        &__iconeX img {
          display: block;
          @include media-between(phone, tablet) {
            width: 12px;
          }
          @include media-between(tablet, desktop) {
            width: 25px;
          }
        }
      }
      &__iconeToSwitch {
        margin: 0 32px 0 32px;
        cursor: pointer;
        @include media-between(phone, tablet) {
          margin: 0 16px 0 12px;
        }
        @include media-between(tablet, desktop) {
          margin: 0 20px 0 20px;
        }
        &--change {
          transform: rotate(180deg);
        }
        &--change img {
          display: block;
          @include media-between(phone, tablet) {
            width: 11px;
          }
        }
      }
      &__iconeToSwitch img {
        display: block;
        @include media-between(phone, tablet) {
          width: 11px;
        }
        @include media-between(tablet, desktop) {
          width: 20px;
        }
      }
      &__blockPhoto {
        width: 100%;
        margin: 22px 0 22px 0;
      }
      &__photo {
        border-radius: 5px;
        max-width: 100%;
        max-height: 900px;
        object-fit: scale-down;
      }
      &__legend {
        font-size: 1.5rem;
        color: $colorPrimary;
        margin: 19px 0 0 0;
        @include media-between(phone, tablet) {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
