@mixin modal-appearance {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
//______________________
//INPUTS-TXT
//______________________
@mixin inputsTxt-appearance {
  width: 100%;
  height: 68px;
  border-radius: $radiusBlocks;
  padding-left: 12px;
  font-size: 1.7rem;
  outline-style: none;
  border: $colorTertiary solid 2px;
}
//______________________
//ICONE CLOSE "X"
//______________________
@mixin iconeClose-block {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 35px;
  top: 35px;
  cursor: pointer;
  border: none;
  background: transparent;
}
@mixin iconeClose-line {
  content: "";
  display: block;
  width: 38px;
  height: 4px;
  position: absolute;
  top: 45%;
  left: 3%;
}
//______________________
//BTN
//______________________
@mixin btn-appearance {
  background-color: $colorPrimary;
  color: $colorTertiary;
  height: 69px;
  // min-width: 170px;
  border-radius: $radiusBlocks;
  font-size: 1.15rem;
  cursor: pointer;
}
//______________________
//BTN__bgd
//______________________
@mixin btn-focus {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $colorSecondary;
  opacity: 0;
  border-radius: $radiusBlocks;
  z-index: -1;
  transition: opacity $duration;
}
//______________________
//TAGSNAME
//______________________
@mixin tags-appearance {
  font-size: 0.75rem;
  color: $colorPrimary;
  border-radius: 11px;
  border: $colorGrey solid 0.5px;
  background-color: $colorTertiary;
  font-weight: bold;
  padding: 1px 6px;
  cursor: pointer;
  text-decoration: none;
  margin: $marginTagsBlock;
}
//______________________
//TAGSNAME
//______________________
@mixin tags-focus {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $colorPrimary;
  z-index: -1; // le fond secondaire en z-index -1
  transition: opacity $duration;
  border-radius: 11px;
  opacity: 0;
  transition: opacity $duration;
}
//______________________
//BOUCLES//
//1).INDEX-BlockTxt des blocks introductions des photographes.
//______________________
@mixin blockTxtIntroIndex($map) {
  @each $key, $values in $map {
    &#{$key} {
      display: map-get($values, type);
      text-align: map-get($values, textAlign);
      color: map-get($values, color);
      font-weight: map-get($values, fontWeight);
      font-size: map-get($values, sizefont);
      margin: map-get($values, marg);
      font-family: map-get($values, fontFamily);
    }
  }
}
//______________________
//KEYFRAMES
//______________________
//1). keyframe des modales
@keyframes animModal {
  from {
    opacity: 0;
    transform: translateY(-25vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}
//MIXIN DES MEDIAS QUERIES;
@mixin media-between($_keymin, $_keymax) {
  @media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax)) {
    & {
      @content;
    }
  }
}

@mixin media-min($_keymin) {
  @media screen and (min-width: map-get($breakpoints, $_keymin)) {
    & {
      @content;
    }
  }
}
