//COLOR
$colorPrimary: #901c1c;
$colorSecondary: #db8876;
$colorTertiary: #ffffff;
$colorGrey: #c4c4c4;
$black: #000000;

//SIZE
$sizelogoWidth: 200px;

//MARGIN
$marginBlock: 12px;

//TRANSITION DURATION
$duration: 250ms;

//MAPS
//1).INDEX-BlockTxt des blocks introductions des photographes.
$blockTxtIntroduction: (
  1: (
    type: block,
    textAlign: center,
    color: $colorPrimary,
    fontWeight: bold,
    sizefont: 0.813rem,
  ),
  2: (
    type: block,
    textAlign: center,
    color: $black,
    fontWeight: 100,
    sizefont: 0.625rem,
  ),
  3: (
    type: block,
    textAlign: center,
    color: $black,
    fontWeight: 100,
    sizefont: 0.625rem,
  ),
);
